In [1]:
#Importation des librairies
import pandas as pd
import numpy as np
import nltk
import matplotlib.pyplot as plt
import seaborn as sns

from collections import defaultdict
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords


from functools import reduce

In [2]:
# Chargement du fichier

df = pd.read_csv('csv_full.csv')
df

,City,Company,Posted_Date,Posting,Salary,Title,Url,Job_Category,Location_Category
0,Lyon (69),Sham,2019-02-16,CDIActeur européen spécialiste de l’assurance ...,NaN,DATA SCIENTIST JUNIOR,https://www.indeed.fr/rc/clk?jk=723c6220dfa6c4...,Data Scientist,Lyon
1,69625 Villeurbanne,Pulsalys,2019-02-26,Dans le cadre d’un projet avec le laboratoire ...,NaN,Data Scientist en Econométrie,https://www.indeed.fr/rc/clk?jk=b6addebc68f18c...,Data Scientist,Lyon
2,69100 Villeurbanne,SpeedMedia Services,2019-03-02,SpeedMedia SpeedMedia accompagne depuis 2003 l...,NaN,BIG DATA / DATA SCIENTIST F/H,https://www.indeed.fr/rc/clk?jk=c65f1257774d99...,Data Scientist,Lyon
3,Lyon (69),MALT,2019-03-05,"Malt connects businesses with freelancers, fin...",NaN,Data scientist Lyon,https://www.indeed.fr/rc/clk?jk=5a167202245ed6...,Data Scientist,Lyon
4,Lyon 7e (69),NEURALYTICS.AI,2019-02-10,CDIPour nous aider à offrir aux professionnels...,NaN,Data Scientist -Tous niveaux - (Computer Visio...,https://www.indeed.fr/rc/clk?jk=cea8b5baad6b3b...,Data Scientist,Lyon
5,Villeurbanne (69),FERMINE DANIEL,2019-03-08,47 000 € par anCDIVous êtes intégré à l’équipe...,47000 € par an,Data Scientist F/H,https://www.indeed.fr/rc/clk?jk=6b8bd50afca2c9...,Data Scientist,Lyon
6,Lyon (69),KELTIS,2019-03-11,"CDIMissions et responsabilitésELTIS, Cabinet d...",NaN,Data Scientist H/F,https://www.indeed.fr/company/KELTIS/jobs/Data...,Data Scientist,Lyon
7,Lyon 7e (69),AVISIA ALPES,2019-02-12,35 000 € par anCDIL'objectif de nos missions e...,35000 € par an,DATA SCIENTIST F/H,https://www.indeed.fr/rc/clk?jk=acd7f1e70f32d5...,Data Scientist,Lyon
8,Lyon 3e (69),AGENCE TECHNIQUE INFORMA.HOSPITALISATION,2019-03-04,38 000 € par anMissions générales : Travailler...,38000 € par an,Ingénieur Statisticien/ Data Scientist F/H,https://www.indeed.fr/rc/clk?jk=7968462c1718f1...,Data Scientist,Lyon
9,Lyon 3e (69),PULSALYS,2019-02-26,Dans le cadre d’un projet avec le laboratoire ...,NaN,Data Scientist en Econométrie F/H,https://www.indeed.fr/rc/clk?jk=becadb0f261285...,Data Scientist,Lyon
10,Rillieux-la-Pape (69),VINCI energies,2019-02-09,"StageAu sein d’une PME à taille humaine, avec ...",NaN,BUSINESS INTELLIGENCE DATA SCIENTIST F/H,https://www.indeed.fr/rc/clk?jk=f165f4ea2377c6...,Data Scientist,Lyon
11,Lyon 8e (69),Sham,2019-02-15,CDIVous serez rattaché(e) à notre cellule Inno...,NaN,DATA SCIENTIST F/H,https://www.indeed.fr/rc/clk?jk=1b1434e973355f...,Data Scientist,Lyon
12,Lyon (69),Davidson consulting,2019-02-09,CDIPour le compte d’un de nos clients grands c...,NaN,Data scientist – Machine learning H/F Lyon . CDI,https://www.indeed.fr/rc/clk?jk=46d1b191d6a7b4...,Data Scientist,Lyon
13,Lyon (69),Speedmedia,2018-11-11,StageLIEU Lyon TYPE DE CONTRAT Stage NOMBRE DE...,NaN,Big Data / Data scientist,https://www.indeed.fr/rc/clk?jk=0aa2f3bd7b2e82...,Data Scientist,Lyon
14,69002 Lyon 2e,ADECCO PME,2019-02-09,1 750 € par moisIntérimAdecco Pme est un résea...,1750 € par mois,Data Analyst/Data Scientist (H/F),https://www.indeed.fr/rc/clk?jk=48469f2809b8d4...,Data Scientist,Lyon
15,Bron (69),Fives,2019-02-09,"emploi CortX, filiale du groupe Fives et au c...",NaN,Data Scientist / Data Engineer F/H,https://www.indeed.fr/rc/clk?jk=9b2ced69fbacb7...,Data Scientist,Lyon
16,Lyon (69),Manpower,2019-02-20,CDIL'entreprise Vous aspirez intégrer une soc...,NaN,Data scientist BI (H/F),https://www.indeed.fr/rc/clk?jk=a39aa8e08b2260...,Data Scientist,Lyon
17,Lyon (69),Keyrus,2019-02-09,CDIKeyrus est un acteur international de la tr...,NaN,Lead Data Scientist H/F (Lyon),https://www.indeed.fr/rc/clk?jk=d273f1d1275fd8...,Data Scientist,Lyon
18,Lyon (69),Atos,2019-02-09,A propos de Worldline Worldline [Euronext : WL...,NaN,STG BI - Big Data,https://www.indeed.fr/rc/clk?jk=a61b76c612a036...,Data Scientist,Lyon
19,Lyon (69),Twist Bioscience,2019-02-09,Twist is looking for a Field Application Scien...,NaN,Field Application Scientist,https://www.indeed.fr/rc/clk?jk=55d969421e7778...,Data Scientist,Lyon
20,Lyon (69),Volvo Group,2019-02-23,CDIL’IT Graduate program du Volvo Group : votr...,NaN,IT Graduate program - Data Engineer (H/F),https://www.indeed.fr/rc/clk?jk=16d9eabb213baf...,Data Scientist,Lyon
21,Lyon (69),MALT,2019-02-09,"Malt connects businesses with freelancers, fin...",NaN,Data engineer Lyon,https://www.indeed.fr/rc/clk?jk=bbf61a43063d9d...,Data Scientist,Lyon
22,Lyon 1er (69),GROUPE SEB,2019-02-28,"CDIMISSION : Engagée depuis plusieurs années, ...",NaN,INGENIEUR DATA F/H,https://www.indeed.fr/rc/clk?jk=8332f6cc223885...,Data Scientist,Lyon
23,Lyon (69),Exponentiel,2019-02-09,CDISociétéSociété de conseil indépendante (450...,NaN,Consultant / Consultant confirmé - Data Scient...,https://www.indeed.fr/company/EXPONENTIEL/jobs...,Data Scientist,Lyon
24,Lyon (69),DCS EASYWARE,2019-02-09,Freelance / IndépendantESN indépendante et inn...,NaN,Data Analyst H/F / Freelance,https://www.indeed.fr/rc/clk?jk=6df9100a9042a7...,Data Scientist,Lyon
25,Lyon (69),Frontline Performance Group,2019-02-27,This is a remote position. Our headquarter off...,NaN,"Lead Data Engineer (Remote, France)",https://www.indeed.fr/rc/clk?jk=537928d6d4e6d8...,Data Scientist,Lyon
26,Lyon (69),Keyrus,2018-10-12,CDIQui sommes-nous ? Une success story dans la...,NaN,Consultant Data Marketing H/F (Lyon),https://www.indeed.fr/rc/clk?jk=efb7cd9e9ee5e7...,Data Scientist,Lyon
27,Lyon 3e (69),ZENIKA,2019-02-19,"CDIEn tant que Data Ingénieur(e), tu collabore...",NaN,Data ingénieur F/H,https://www.indeed.fr/rc/clk?jk=2938d56ada4f6b...,Data Scientist,Lyon
28,Craponne (69),bioMerieux,2018-11-11,CDIActeur mondial dans le domaine du diagnosti...,NaN,CDI- Global Head of Clinical Data Management H/F,https://www.indeed.fr/rc/clk?jk=bb9eb8bf14bff0...,Data Scientist,Lyon
29,Lyon (69),Go Concept,2018-11-11,QUI SEREZ VOUS DEMAIN ? Vous souhaitez vivre ...,NaN,Ingénieur Data Project Manager,https://www.indeed.fr/rc/clk?jk=71c9d1d800314f...,Data Scientist,Lyon
...,...,...,...,...,...,...,...,...,...
22243,Paris (75),Gandi,2019-02-18,CDIÀ propos Fondé en 1999 par 3 pionniers de l...,NaN,Développeur Frontend React H/F,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22244,75001 Paris 1er,Flatswire,2018-11-20,700 € - 1 200 € par moisStageFlatswire est une...,700 € - 1200 € par mois,Stage Développeur ReactJS/ NodeJS Full Stack,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22245,Paris (75),Universign,2019-02-18,Universign est le pure player de référence sur...,NaN,Développeur Android (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22246,Paris,Capgemini,2018-11-20,Description de l'entreprise Capgemini est l'un...,NaN,Développeur Fullstack (H/F) Paris,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22247,75013 Paris 13e,IZNEO,2019-02-18,CDIMissions et responsabilitésSous l’autorité ...,NaN,Developpeur Web,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22248,75016 Paris 16e,PM GROUPE FRANCE,2019-03-07,CDIPM GROUPE FRANCE est une start-up en plein ...,NaN,WEBMASTER / DEVELOPPEUR (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22249,Paris (75),DAVRON TRANSLATIONS - Paris (75008),2018-11-20,Description du posteBusiness developer – dével...,NaN,Business Developer,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22250,Paris (75),Gandi,2019-02-18,CDIÀ propos Fondé en 1999 par 3 pionniers de l...,NaN,Développeur Frontend React H/F,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22251,75001 Paris 1er,Flatswire,2018-11-20,700 € - 1 200 € par moisStageFlatswire est une...,700 € - 1200 € par mois,Stage Développeur ReactJS/ NodeJS Full Stack,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22252,Paris (75),Universign,2019-02-18,Universign est le pure player de référence sur...,NaN,Développeur Android (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22253,Paris,Capgemini,2018-11-20,Description de l'entreprise Capgemini est l'un...,NaN,Développeur Fullstack (H/F) Paris,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22254,75013 Paris 13e,IZNEO,2019-02-18,CDIMissions et responsabilitésSous l’autorité ...,NaN,Developpeur Web,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22255,75016 Paris 16e,PM GROUPE FRANCE,2019-03-07,CDIPM GROUPE FRANCE est une start-up en plein ...,NaN,WEBMASTER / DEVELOPPEUR (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22256,Paris (75),DAVRON TRANSLATIONS - Paris (75008),2018-11-20,Description du posteBusiness developer – dével...,NaN,Business Developer,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22257,Paris (75),Gandi,2019-02-18,CDIÀ propos Fondé en 1999 par 3 pionniers de l...,NaN,Développeur Frontend React H/F,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22258,75001 Paris 1er,Flatswire,2018-11-20,700 € - 1 200 € par moisStageFlatswire est une...,700 € - 1200 € par mois,Stage Développeur ReactJS/ NodeJS Full Stack,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22259,Paris (75),Universign,2019-02-18,Universign est le pure player de référence sur...,NaN,Développeur Android (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22260,Paris,Capgemini,2018-11-20,Description de l'entreprise Capgemini est l'un...,NaN,Développeur Fullstack (H/F) Paris,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22261,75013 Paris 13e,IZNEO,2019-02-18,CDIMissions et responsabilitésSous l’autorité ...,NaN,Developpeur Web,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22262,75016 Paris 16e,PM GROUPE FRANCE,2019-03-07,CDIPM GROUPE FRANCE est une start-up en plein ...,NaN,WEBMASTER / DEVELOPPEUR (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22263,Paris (75),DAVRON TRANSLATIONS - Paris (75008),2018-11-20,Description du posteBusiness developer – dével...,NaN,Business Developer,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22264,Paris (75),Gandi,2019-02-18,CDIÀ propos Fondé en 1999 par 3 pionniers de l...,NaN,Développeur Frontend React H/F,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22265,75001 Paris 1er,Flatswire,2018-11-20,700 € - 1 200 € par moisStageFlatswire est une...,700 € - 1200 € par mois,Stage Développeur ReactJS/ NodeJS Full Stack,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22266,Paris (75),Universign,2019-02-18,Universign est le pure player de référence sur...,NaN,Développeur Android (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22267,Paris,Capgemini,2018-11-20,Description de l'entreprise Capgemini est l'un...,NaN,Développeur Fullstack (H/F) Paris,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22268,75013 Paris 13e,IZNEO,2019-02-18,CDIMissions et responsabilitésSous l’autorité ...,NaN,Developpeur Web,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22269,75016 Paris 16e,PM GROUPE FRANCE,2019-03-07,CDIPM GROUPE FRANCE est une start-up en plein ...,NaN,WEBMASTER / DEVELOPPEUR (H/F),https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22270,Paris (75),DAVRON TRANSLATIONS - Paris (75008),2018-11-20,Description du posteBusiness developer – dével...,NaN,Business Developer,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22271,Paris (75),Gandi,2019-02-18,CDIÀ propos Fondé en 1999 par 3 pionniers de l...,NaN,Développeur Frontend React H/F,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris
22272,75001 Paris 1er,Flatswire,2018-11-20,700 € - 1 200 € par moisStageFlatswire est une...,700 € - 1200 € par mois,Stage Développeur ReactJS/ NodeJS Full Stack,https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...,Developpeur,Paris

In [3]:
# Dimension du dataframe
df.shape

(22273, 9)

In [4]:
# Affichage des colonnes

df.columns

Index(['City', 'Company', 'Posted_Date', 'Posting', 'Salary', 'Title', 'Url',
       'Job_Category', 'Location_Category'],
      dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=22273, step=1)

In [6]:
# Information générale sur le dataframe

df.info

<bound method DataFrame.info of                         City                                   Company  \
0                  Lyon (69)                                      Sham
1         69625 Villeurbanne                                  Pulsalys
2         69100 Villeurbanne                       SpeedMedia Services
3                  Lyon (69)                                      MALT
4               Lyon 7e (69)                            NEURALYTICS.AI
5          Villeurbanne (69)                            FERMINE DANIEL
6                  Lyon (69)                                    KELTIS
7               Lyon 7e (69)                              AVISIA ALPES
8               Lyon 3e (69)  AGENCE TECHNIQUE INFORMA.HOSPITALISATION
9               Lyon 3e (69)                                  PULSALYS
10     Rillieux-la-Pape (69)                            VINCI energies
11              Lyon 8e (69)                                      Sham
12                 Lyon (69)                       Davidson consulting
13                 Lyon (69)                                Speedmedia
14             69002 Lyon 2e                                ADECCO PME
15                 Bron (69)                                     Fives
16                 Lyon (69)                                  Manpower
17                 Lyon (69)                                    Keyrus
18                 Lyon (69)                                      Atos
19                 Lyon (69)                          Twist Bioscience
20                 Lyon (69)                               Volvo Group
21                 Lyon (69)                                      MALT
22             Lyon 1er (69)                                GROUPE SEB
23                 Lyon (69)                               Exponentiel
24                 Lyon (69)                              DCS EASYWARE
25                 Lyon (69)               Frontline Performance Group
26                 Lyon (69)                                    Keyrus
27              Lyon 3e (69)                                    ZENIKA
28             Craponne (69)                                bioMerieux
29                 Lyon (69)                                Go Concept
...                      ...                                       ...
22243             Paris (75)                                     Gandi
22244        75001 Paris 1er                                 Flatswire
22245             Paris (75)                                Universign
22246                  Paris                                 Capgemini
22247        75013 Paris 13e                                     IZNEO
22248        75016 Paris 16e                          PM GROUPE FRANCE
22249             Paris (75)       DAVRON TRANSLATIONS - Paris (75008)
22250             Paris (75)                                     Gandi
22251        75001 Paris 1er                                 Flatswire
22252             Paris (75)                                Universign
22253                  Paris                                 Capgemini
22254        75013 Paris 13e                                     IZNEO
22255        75016 Paris 16e                          PM GROUPE FRANCE
22256             Paris (75)       DAVRON TRANSLATIONS - Paris (75008)
22257             Paris (75)                                     Gandi
22258        75001 Paris 1er                                 Flatswire
22259             Paris (75)                                Universign
22260                  Paris                                 Capgemini
22261        75013 Paris 13e                                     IZNEO
22262        75016 Paris 16e                          PM GROUPE FRANCE
22263             Paris (75)       DAVRON TRANSLATIONS - Paris (75008)
22264             Paris (75)                                     Gandi
22265        75001 Paris 1er                                 Flatswire
22266             Paris (75)                                Universign
22267                  Paris                                 Capgemini
22268        75013 Paris 13e                                     IZNEO
22269        75016 Paris 16e                          PM GROUPE FRANCE
22270             Paris (75)       DAVRON TRANSLATIONS - Paris (75008)
22271             Paris (75)                                     Gandi
22272        75001 Paris 1er                                 Flatswire

      Posted_Date                                            Posting  \
0      2019-02-16  CDIActeur européen spécialiste de l’assurance ...
1      2019-02-26  Dans le cadre d’un projet avec le laboratoire ...
2      2019-03-02  SpeedMedia SpeedMedia accompagne depuis 2003 l...
3      2019-03-05  Malt connects businesses with freelancers, fin...
4      2019-02-10  CDIPour nous aider à offrir aux professionnels...
5      2019-03-08  47 000 € par anCDIVous êtes intégré à l’équipe...
6      2019-03-11  CDIMissions et responsabilitésELTIS, Cabinet d...
7      2019-02-12  35 000 € par anCDIL'objectif de nos missions e...
8      2019-03-04  38 000 € par anMissions générales : Travailler...
9      2019-02-26  Dans le cadre d’un projet avec le laboratoire ...
10     2019-02-09  StageAu sein d’une PME à taille humaine, avec ...
11     2019-02-15  CDIVous serez rattaché(e) à notre cellule Inno...
12     2019-02-09  CDIPour le compte d’un de nos clients grands c...
13     2018-11-11  StageLIEU Lyon TYPE DE CONTRAT Stage NOMBRE DE...
14     2019-02-09  1 750 € par moisIntérimAdecco Pme est un résea...
15     2019-02-09  emploi  CortX, filiale du groupe Fives et au c...
16     2019-02-20  CDIL'entreprise  Vous aspirez intégrer une soc...
17     2019-02-09  CDIKeyrus est un acteur international de la tr...
18     2019-02-09  A propos de Worldline Worldline [Euronext : WL...
19     2019-02-09  Twist is looking for a Field Application Scien...
20     2019-02-23  CDIL’IT Graduate program du Volvo Group : votr...
21     2019-02-09  Malt connects businesses with freelancers, fin...
22     2019-02-28  CDIMISSION : Engagée depuis plusieurs années, ...
23     2019-02-09  CDISociétéSociété de conseil indépendante (450...
24     2019-02-09  Freelance / IndépendantESN indépendante et inn...
25     2019-02-27  This is a remote position. Our headquarter off...
26     2018-10-12  CDIQui sommes-nous ? Une success story dans la...
27     2019-02-19  CDIEn tant que Data Ingénieur(e), tu collabore...
28     2018-11-11  CDIActeur mondial dans le domaine du diagnosti...
29     2018-11-11  QUI SEREZ VOUS DEMAIN ?  Vous souhaitez vivre ...
...           ...                                                ...
22243  2019-02-18  CDIÀ propos Fondé en 1999 par 3 pionniers de l...
22244  2018-11-20  700 € - 1 200 € par moisStageFlatswire est une...
22245  2019-02-18  Universign est le pure player de référence sur...
22246  2018-11-20  Description de l'entreprise Capgemini est l'un...
22247  2019-02-18  CDIMissions et responsabilitésSous l’autorité ...
22248  2019-03-07  CDIPM GROUPE FRANCE est une start-up en plein ...
22249  2018-11-20  Description du posteBusiness developer – dével...
22250  2019-02-18  CDIÀ propos Fondé en 1999 par 3 pionniers de l...
22251  2018-11-20  700 € - 1 200 € par moisStageFlatswire est une...
22252  2019-02-18  Universign est le pure player de référence sur...
22253  2018-11-20  Description de l'entreprise Capgemini est l'un...
22254  2019-02-18  CDIMissions et responsabilitésSous l’autorité ...
22255  2019-03-07  CDIPM GROUPE FRANCE est une start-up en plein ...
22256  2018-11-20  Description du posteBusiness developer – dével...
22257  2019-02-18  CDIÀ propos Fondé en 1999 par 3 pionniers de l...
22258  2018-11-20  700 € - 1 200 € par moisStageFlatswire est une...
22259  2019-02-18  Universign est le pure player de référence sur...
22260  2018-11-20  Description de l'entreprise Capgemini est l'un...
22261  2019-02-18  CDIMissions et responsabilitésSous l’autorité ...
22262  2019-03-07  CDIPM GROUPE FRANCE est une start-up en plein ...
22263  2018-11-20  Description du posteBusiness developer – dével...
22264  2019-02-18  CDIÀ propos Fondé en 1999 par 3 pionniers de l...
22265  2018-11-20  700 € - 1 200 € par moisStageFlatswire est une...
22266  2019-02-18  Universign est le pure player de référence sur...
22267  2018-11-20  Description de l'entreprise Capgemini est l'un...
22268  2019-02-18  CDIMissions et responsabilitésSous l’autorité ...
22269  2019-03-07  CDIPM GROUPE FRANCE est une start-up en plein ...
22270  2018-11-20  Description du posteBusiness developer – dével...
22271  2019-02-18  CDIÀ propos Fondé en 1999 par 3 pionniers de l...
22272  2018-11-20  700 € - 1 200 € par moisStageFlatswire est une...

                        Salary  \
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
5               47000 € par an
6                          NaN
7               35000 € par an
8               38000 € par an
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14             1750 € par mois
15                         NaN
16                         NaN
17                         NaN
18                         NaN
19                         NaN
20                         NaN
21                         NaN
22                         NaN
23                         NaN
24                         NaN
25                         NaN
26                         NaN
27                         NaN
28                         NaN
29                         NaN
...                        ...
22243                      NaN
22244  700 € - 1200 € par mois
22245                      NaN
22246                      NaN
22247                      NaN
22248                      NaN
22249                      NaN
22250                      NaN
22251  700 € - 1200 € par mois
22252                      NaN
22253                      NaN
22254                      NaN
22255                      NaN
22256                      NaN
22257                      NaN
22258  700 € - 1200 € par mois
22259                      NaN
22260                      NaN
22261                      NaN
22262                      NaN
22263                      NaN
22264                      NaN
22265  700 € - 1200 € par mois
22266                      NaN
22267                      NaN
22268                      NaN
22269                      NaN
22270                      NaN
22271                      NaN
22272  700 € - 1200 € par mois

                                                   Title  \
0                                  DATA SCIENTIST JUNIOR
1                          Data Scientist en Econométrie
2                          BIG DATA / DATA SCIENTIST F/H
3                                    Data scientist Lyon
4      Data Scientist -Tous niveaux - (Computer Visio...
5                                     Data Scientist F/H
6                                     Data Scientist H/F
7                                     DATA SCIENTIST F/H
8             Ingénieur Statisticien/ Data Scientist F/H
9                      Data Scientist en Econométrie F/H
10              BUSINESS INTELLIGENCE DATA SCIENTIST F/H
11                                    DATA SCIENTIST F/H
12      Data scientist – Machine learning H/F Lyon . CDI
13                             Big Data / Data scientist
14                     Data Analyst/Data Scientist (H/F)
15                    Data Scientist / Data Engineer F/H
16                               Data scientist BI (H/F)
17                        Lead Data Scientist H/F (Lyon)
18                                     STG BI - Big Data
19                           Field Application Scientist
20             IT Graduate program - Data Engineer (H/F)
21                                    Data engineer Lyon
22                                    INGENIEUR DATA F/H
23     Consultant / Consultant confirmé - Data Scient...
24                          Data Analyst H/F / Freelance
25                   Lead Data Engineer (Remote, France)
26                  Consultant Data Marketing H/F (Lyon)
27                                    Data ingénieur F/H
28      CDI- Global Head of Clinical Data Management H/F
29                        Ingénieur Data Project Manager
...                                                  ...
22243                     Développeur Frontend React H/F
22244       Stage Développeur ReactJS/ NodeJS Full Stack
22245                          Développeur Android (H/F)
22246                  Développeur Fullstack (H/F) Paris
22247                                    Developpeur Web
22248                      WEBMASTER / DEVELOPPEUR (H/F)
22249                                 Business Developer
22250                     Développeur Frontend React H/F
22251       Stage Développeur ReactJS/ NodeJS Full Stack
22252                          Développeur Android (H/F)
22253                  Développeur Fullstack (H/F) Paris
22254                                    Developpeur Web
22255                      WEBMASTER / DEVELOPPEUR (H/F)
22256                                 Business Developer
22257                     Développeur Frontend React H/F
22258       Stage Développeur ReactJS/ NodeJS Full Stack
22259                          Développeur Android (H/F)
22260                  Développeur Fullstack (H/F) Paris
22261                                    Developpeur Web
22262                      WEBMASTER / DEVELOPPEUR (H/F)
22263                                 Business Developer
22264                     Développeur Frontend React H/F
22265       Stage Développeur ReactJS/ NodeJS Full Stack
22266                          Développeur Android (H/F)
22267                  Développeur Fullstack (H/F) Paris
22268                                    Developpeur Web
22269                      WEBMASTER / DEVELOPPEUR (H/F)
22270                                 Business Developer
22271                     Développeur Frontend React H/F
22272       Stage Développeur ReactJS/ NodeJS Full Stack

                                                     Url    Job_Category  \
0      https://www.indeed.fr/rc/clk?jk=723c6220dfa6c4...  Data Scientist
1      https://www.indeed.fr/rc/clk?jk=b6addebc68f18c...  Data Scientist
2      https://www.indeed.fr/rc/clk?jk=c65f1257774d99...  Data Scientist
3      https://www.indeed.fr/rc/clk?jk=5a167202245ed6...  Data Scientist
4      https://www.indeed.fr/rc/clk?jk=cea8b5baad6b3b...  Data Scientist
5      https://www.indeed.fr/rc/clk?jk=6b8bd50afca2c9...  Data Scientist
6      https://www.indeed.fr/company/KELTIS/jobs/Data...  Data Scientist
7      https://www.indeed.fr/rc/clk?jk=acd7f1e70f32d5...  Data Scientist
8      https://www.indeed.fr/rc/clk?jk=7968462c1718f1...  Data Scientist
9      https://www.indeed.fr/rc/clk?jk=becadb0f261285...  Data Scientist
10     https://www.indeed.fr/rc/clk?jk=f165f4ea2377c6...  Data Scientist
11     https://www.indeed.fr/rc/clk?jk=1b1434e973355f...  Data Scientist
12     https://www.indeed.fr/rc/clk?jk=46d1b191d6a7b4...  Data Scientist
13     https://www.indeed.fr/rc/clk?jk=0aa2f3bd7b2e82...  Data Scientist
14     https://www.indeed.fr/rc/clk?jk=48469f2809b8d4...  Data Scientist
15     https://www.indeed.fr/rc/clk?jk=9b2ced69fbacb7...  Data Scientist
16     https://www.indeed.fr/rc/clk?jk=a39aa8e08b2260...  Data Scientist
17     https://www.indeed.fr/rc/clk?jk=d273f1d1275fd8...  Data Scientist
18     https://www.indeed.fr/rc/clk?jk=a61b76c612a036...  Data Scientist
19     https://www.indeed.fr/rc/clk?jk=55d969421e7778...  Data Scientist
20     https://www.indeed.fr/rc/clk?jk=16d9eabb213baf...  Data Scientist
21     https://www.indeed.fr/rc/clk?jk=bbf61a43063d9d...  Data Scientist
22     https://www.indeed.fr/rc/clk?jk=8332f6cc223885...  Data Scientist
23     https://www.indeed.fr/company/EXPONENTIEL/jobs...  Data Scientist
24     https://www.indeed.fr/rc/clk?jk=6df9100a9042a7...  Data Scientist
25     https://www.indeed.fr/rc/clk?jk=537928d6d4e6d8...  Data Scientist
26     https://www.indeed.fr/rc/clk?jk=efb7cd9e9ee5e7...  Data Scientist
27     https://www.indeed.fr/rc/clk?jk=2938d56ada4f6b...  Data Scientist
28     https://www.indeed.fr/rc/clk?jk=bb9eb8bf14bff0...  Data Scientist
29     https://www.indeed.fr/rc/clk?jk=71c9d1d800314f...  Data Scientist
...                                                  ...             ...
22243  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22244  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22245  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22246  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22247  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22248  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22249  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22250  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22251  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22252  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22253  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22254  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22255  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22256  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22257  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22258  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22259  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22260  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22261  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22262  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22263  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22264  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22265  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22266  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22267  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22268  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22269  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22270  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22271  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur
22272  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...     Developpeur

      Location_Category
0                  Lyon
1                  Lyon
2                  Lyon
3                  Lyon
4                  Lyon
5                  Lyon
6                  Lyon
7                  Lyon
8                  Lyon
9                  Lyon
10                 Lyon
11                 Lyon
12                 Lyon
13                 Lyon
14                 Lyon
15                 Lyon
16                 Lyon
17                 Lyon
18                 Lyon
19                 Lyon
20                 Lyon
21                 Lyon
22                 Lyon
23                 Lyon
24                 Lyon
25                 Lyon
26                 Lyon
27                 Lyon
28                 Lyon
29                 Lyon
...                 ...
22243             Paris
22244             Paris
22245             Paris
22246             Paris
22247             Paris
22248             Paris
22249             Paris
22250             Paris
22251             Paris
22252             Paris
22253             Paris
22254             Paris
22255             Paris
22256             Paris
22257             Paris
22258             Paris
22259             Paris
22260             Paris
22261             Paris
22262             Paris
22263             Paris

In [7]:
# Typologie des colonnes 

df.dtypes

City                 object
Company              object
Posted_Date          object
Posting              object
Salary               object
Title                object
Url                  object
Job_Category         object
Location_Category    object
dtype: object

In [8]:
df_keys_jobcategory = df.groupby(['Job_Category']).groups.keys()

df_keys_jobcategory

print(type(df_keys_jobcategory))

<class 'dict_keys'>

In [9]:
# Création d'une liste de dataframes selon les noms de villes et les différents métiers

def city_job(dataframe):

    dict_city = {}
    dict_job = {}
    name_city= ['Bordeaux', 'Lyon', 'Nantes', 'Paris', 'Toulouse']

    df_keys_city = dataframe.groupby(['Location_Category']).groups.keys()
    df_keys_jobcategory = dataframe.groupby(['Job_Category']).groups.keys()

    for i,element in enumerate(df_keys_city) :
        df_element_city = dataframe[dataframe['Location_Category'] == element]
        dict_city.update({name_city[i]:df_element_city} )   
   
    
    for i,(k,city) in enumerate(dict_city.items()):
        for element in df_keys_jobcategory: 

            df_element = city[city['Job_Category'] == element]

            dict_job.update({name_city[i] + '_' + element:df_element})
            
        
            
            #for u,v in dict_job.items():
            
                 #v.to_csv (u + '.csv')

    return dict_job, city



    


city_job(df)

({'Bordeaux_Business Intelligence':                     City                            Company Posted_Date  \
  5950       Bordeaux (33)                            SOLUTEC  2019-02-09
  5951       Bordeaux (33)                            Solutec  2018-11-11
  5952       Bordeaux (33)                         REPORT ONE  2019-02-17
  5953       Bordeaux (33)                               Atos  2019-02-09
  5954             Gironde                               SNCF  2019-02-09
  5955       Bordeaux (33)                            KAPA IT  2019-02-09
  5956       Bordeaux (33)                                CGI  2019-02-09
  5957       Bordeaux (33)                            Weenove  2019-03-11
  5958       Bordeaux (33)                            Ubisoft  2019-03-09
  5959       Bordeaux (33)                         L'AgenceRP  2019-03-08
  5960      33300 Bordeaux                         CibleR SAS  2019-03-02
  5961       Bordeaux (33)                        SAFT France  2019-02-09
  5962       Bordeaux (33)                       National Pen  2019-03-05
  5963       Bordeaux (33)                             KEYRUS  2019-03-11
  5964       Bordeaux (33)                            KPMG SA  2019-02-20
  5965       Bordeaux (33)                                CGI  2019-02-09
  5966       Bordeaux (33)                               KPMG  2019-02-09
  5967       Bordeaux (33)                             Keyrus  2018-10-12
  5968       Bordeaux (33)                     DTA INGENIERIE  2019-02-22
  5969       Bordeaux (33)                                NaN  2019-02-09
  5970       Bordeaux (33)                               Atos  2019-03-03
  5971         Bègles (33)                            Askovet  2019-02-28
  5972       Bordeaux (33)                               Atos  2019-03-03
  5973       Bordeaux (33)                               Keyr  2019-02-09
  5974       Bordeaux (33)                           Econocom  2019-02-09
  5975       Bordeaux (33)                             THELIO  2019-02-12
  5976       Bordeaux (33)                       Thales Group  2019-03-02
  5977       Bordeaux (33)                         DeciVision  2019-02-09
  5978       Bordeaux (33)                     Cheetah Mobile  2019-02-09
  5979         Pessac (33)                             Thélio  2019-03-08
  ...                  ...                                ...         ...
  6123       Bordeaux (33)                       National Pen  2019-03-06
  6124      33100 Bordeaux                               Hays  2019-03-15
  6125       Bordeaux (33)                       Aura Finance  2019-02-15
  6126      33100 Bordeaux                               Hays  2019-03-15
  6127       Bordeaux (33)                        TECH VALLEY  2019-02-15
  6128       Bordeaux (33)                       Aura Finance  2019-02-15
  6129              France                           TechSell  2019-02-15
  6130       Bordeaux (33)                       Aura Finance  2019-02-15
  6131      33100 Bordeaux                               Hays  2019-03-15
  6132       Bordeaux (33)                       Aura Finance  2019-02-15
  6133       Bordeaux (33)                       National Pen  2019-03-06
  6134      33100 Bordeaux                               Hays  2019-03-15
  6135       Bordeaux (33)                        TECH VALLEY  2019-02-15
  6136       Bordeaux (33)                       National Pen  2019-03-06
  6137      33100 Bordeaux                               Hays  2019-03-15
  6138              France                           TechSell  2019-02-15
  6139       Bordeaux (33)                        TECH VALLEY  2019-02-15
  6140       Bordeaux (33)                       Aura Finance  2019-02-15
  6141       Bordeaux (33)                       National Pen  2019-03-06
  6142      33100 Bordeaux                               Hays  2019-03-15
  6143       Bordeaux (33)                       Aura Finance  2019-02-15
  6144       Bordeaux (33)                        TECH VALLEY  2019-02-15
  6145             Gironde                                CGI  2019-02-15
  6146              France                           TechSell  2019-02-15
  6147      33100 Bordeaux                               Hays  2019-03-15
  6148              France  Nigel Frank International Limited  2019-02-20
  6149  Nouvelle-Aquitaine                           Strateos  2019-02-15
  6150       Bordeaux (33)                       National Pen  2019-03-06
  6151              France                           TechSell  2019-02-15
  6152       Bordeaux (33)                       Aura Finance  2019-02-15

                                                  Posting  \
  5950  32 000 € - 45 000 € par anCDIDans le cadre d’u...
  5951  32 000 € - 50 000 € par anCDIVous cherchez à r...
  5952  Qui sommes-nous ?Crée en 2001, Report One est ...
  5953  StageAtos est un leader international de la tr...
  5954  StageVos missions SNCF Réseau entretient, mode...
  5955  CDISous la responsabilité d'un chef de projet ...
  5956  En rejoignant CGI, vous serez au cœur de la tr...
  5957  StageL’entrepriseWeenove est une jeune startup...
  5958  Job Description  Vous travaillerez à la struct...
  5959  StageVous travaillerez à la structuration et à...
  5960  570 € par moisStageMissions et responsabilités...
  5961  The TTG Business Development Manager - Mobilit...
  5962  JOB AD - DATAMINERWho we are?Founded in 1966, ...
  5963  CDIMissions: Vous êtes motivé par le Décisionn...
  5964  CDIVous souhaitez intégrer une équipe en forte...
  5965  CDIEn rejoignant CGI, vous serez au cœur de la...
  5966  Vous souhaitez intégrer une équipe jeune en fo...
  5967  CDIQui sommes-nous ? Une success story dans la...
  5968  25 000 € par anCDIVenez décrocher votre 1er CD...
  5969  CDIQui sommes-nous ? Une success story dans la...
  5970  Atos est l'un des leaders mondiaux de la trans...
  5971  StageMissions et responsabilitésAskovet est un...
  5972  Atos est l'un des leaders mondiaux de la trans...
  5973  CDIQui sommes-nous ? Une success story dans la...
  5974  CDIInfeeny se classe dans le Top 3 des acteurs...
  5975  45 000 € - 55 000 € par anCDIVenez compléter n...
  5976  IntérimQUI SOMMES-NOUS ? L’activité avionique ...
  5977  CDIDeciVision est une ESN créée en 2006 qui em...
  5978  Who We Are Cheetah Mobile (NYSE: CMCM) is a le...
  5979  Notre ADN et nos revendications : nous privilé...
  ...                                                 ...
  6123  JOB AD - DATAMINERWho we are?Founded in 1966, ...
  6124  CDINotre client est une PME d'envergure dans l...
  6125  Freelance / IndépendantMissions et responsabil...
  6126  CDINotre client est une PME d'envergure dans l...
  6127  TECH VALLEY est une société de Consulting en S...
  6128  Freelance / IndépendantMissions et responsabil...
  6129  Votre aventure au quotidien  Rattaché à votre ...
  6130  Freelance / IndépendantMissions et responsabil...
  6131  CDINotre client est une PME d'envergure dans l...
  6132  Freelance / IndépendantMissions et responsabil...
  6133  JOB AD - DATAMINERWho we are?Founded in 1966, ...
  6134  CDINotre client est une PME d'envergure dans l...
  6135  TECH VALLEY est une société de Consulting en S...
  6136  JOB AD - DATAMINERWho we are?Founded in 1966, ...
  6137  CDINotre client est une PME d'envergure dans l...
  6138  Votre aventure au quotidien  Rattaché à votre ...
  6139  TECH VALLEY est une société de Consulting en S...
  6140  Freelance / IndépendantMissions et responsabil...
  6141  JOB AD - DATAMINERWho we are?Founded in 1966, ...
  6142  CDINotre client est une PME d'envergure dans l...
  6143  Freelance / IndépendantMissions et responsabil...
  6144  TECH VALLEY est une société de Consulting en S...
  6145  CDICGI recrute un Chef De Projets Web Junior M...
  6146  Votre aventure au quotidien  Rattaché à votre ...
  6147  CDINotre client est une PME d'envergure dans l...
  6148  Microsoft Gold partner avec plus de 15 ans d'e...
  6149  30 000 € - 40 000 € par anJe recherche pour mo...
  6150  JOB AD - DATAMINERWho we are?Founded in 1966, ...
  6151  Votre aventure au quotidien  Rattaché à votre ...
  6152  Freelance / IndépendantMissions et responsabil...

                          Salary  \
  5950  32000 € - 45000 € par an
  5951  32000 € - 50000 € par an
  5952                       NaN
  5953                       NaN
  5954                       NaN
  5955                       NaN
  5956                       NaN
  5957                       NaN
  5958                       NaN
  5959                       NaN
  5960            570 € par mois
  5961                       NaN
  5962                       NaN
  5963                       NaN
  5964                       NaN
  5965                       NaN
  5966                       NaN
  5967                       NaN
  5968            25000 € par an
  5969                       NaN
  5970                       NaN
  5971                       NaN
  5972                       NaN
  5973                       NaN
  5974                       NaN
  5975  45000 € - 55000 € par an
  5976                       NaN
  5977                       NaN
  5978                       NaN
  5979                       NaN
  ...                        ...
  6123                       NaN
  6124                       NaN
  6125                       NaN
  6126                       NaN
  6127                       NaN
  6128                       NaN
  6129                       NaN
  6130                       NaN
  6131                       NaN
  6132                       NaN
  6133                       NaN
  6134                       NaN
  6135                       NaN
  6136                       NaN
  6137                       NaN
  6138                       NaN
  6139                       NaN
  6140                       NaN
  6141                       NaN
  6142                       NaN
  6143                       NaN
  6144                       NaN
  6145                       NaN
  6146                       NaN
  6147                       NaN
  6148                       NaN
  6149  30000 € - 40000 € par an
  6150                       NaN
  6151                       NaN
  6152                       NaN

                                                    Title  \
  5950            Consultant en Business Intelligence F/H
  5951            Consultant en Business Intelligence H/F
  5952      Consultant Décisionnel/ Business Intelligence
  5953                  Stage Business Intelligence ( H/F
  5954  Chargé(e) de Projets Pilotage de la Production...
  5955  Consultant Business Intelligence / Informatiqu...
  5956                         Consultant BI Débutant H/F
  5957                            Stage Marketing Digital
  5958                                 Data Analyst (H/F)
  5959                                 Data Analyst (H/F)
  5960                         Stage Chargé Web Marketing
  5961                       Business Development Manager
  5962                                          DataMiner
  5963                  Consultant BI Junior Bordeaux F/H
  5964    Junior Technology Transformation - Bordeaux F/H
  5965                   Chef de projets web junior (H/F)
  5966                   Junior Technology Transformation
  5967        Consultant Data Intelligence H/F (Bordeaux)
  5968  Développeur Web (Symphony / Drupal / PHP) Juni...
  5969            Consultant Talend Junior H/F (Bordeaux)
  5970                     Consultants Technique BI (H/F)
  5971                            Chatbot Manager (stage)
  5972                        Referent Technique BI (H/F)
  5973                      Consultant Qlik H/F(Bordeaux)
  5974               Consultant Ivanti H/F - Bordeaux H/F
  5975                                 Data Architect F/H
  5976  Technicien informatique décisionnelle (BI) / D...
  5977                             Consultant décisionnel
  5978          Operational Developer/ Content Integrator
  5979                       Annonce – Data Architect F/H
  ...                                                 ...
  6123                                          DataMiner
  6124                  Chef de projet fonctionnel BI H/F
  6125                    Courtier en prêt immobilier H/F
  6126                  Chef de projet fonctionnel BI H/F
  6127        consultant informatique BI - Bordeaux - F/H
  6128                    Courtier en prêt immobilier H/F
  6129                             Formateur National H/F
  6130                    Courtier en prêt immobilier H/F
  6131                  Chef de projet fonctionnel BI H/F
  6132                    Courtier en prêt immobilier H/F
  6133                                          DataMiner
  6134                  Chef de projet fonctionnel BI H/F
  6135        consultant informatique BI - Bordeaux - F/H
  6136                                          DataMiner
  6137                  Chef de projet fonctionnel BI H/F
  6138                             Formateur National H/F
  6139        consultant informatique BI - Bordeaux - F/H
  6140                    Courtier en prêt immobilier H/F
  6141                                          DataMiner
  6142                  Chef de projet fonctionnel BI H/F
  6143                    Courtier en prêt immobilier H/F
  6144        consultant informatique BI - Bordeaux - F/H
  6145                   Chef de projets web junior (H/F)
  6146                             Formateur National H/F
  6147                  Chef de projet fonctionnel BI H/F
  6148                         Microsoft BI Practice Lead
  6149                                   développeur .net
  6150                                          DataMiner
  6151                             Formateur National H/F
  6152                    Courtier en prêt immobilier H/F

                                                      Url  \
  5950  https://www.indeed.fr/rc/clk?jk=a451aaab956d01...
  5951  https://www.indeed.fr/rc/clk?jk=f0c3ea6c0a42b6...
  5952  https://www.indeed.fr/company/REPORT-ONE/jobs/...
  5953  https://www.indeed.fr/rc/clk?jk=9f8c1aaecb6d97...
  5954  https://www.indeed.fr/rc/clk?jk=5ae5409f39a6d0...
  5955  https://www.indeed.fr/rc/clk?jk=b915ef9fadce05...
  5956  https://www.indeed.fr/rc/clk?jk=40c5212af4c1c6...
  5957  https://www.indeed.fr/company/Weenove/jobs/Sta...
  5958  https://www.indeed.fr/rc/clk?jk=cdd70d94d75c6c...
  5959  https://www.indeed.fr/rc/clk?jk=8a2830c004b189...
  5960  https://www.indeed.fr/company/Cibler/jobs/Stag...
  5961  https://www.indeed.fr/rc/clk?jk=7b2eb3a2fad70d...
  5962  https://www.indeed.fr/company/National-Pen/job...
  5963  https://www.indeed.fr/rc/clk?jk=c94be0d4ad5424...
  5964  https://www.indeed.fr/rc/clk?jk=dfd4b359a69957...
  5965  https://www.indeed.fr/rc/clk?jk=33f90e9f4fabf5...
  5966  https://www.indeed.fr/rc/clk?jk=7e3a005cb1dbc3...
  5967  https://www.indeed.fr/rc/clk?jk=f7491f5f8223de...
  5968  https://www.indeed.fr/rc/clk?jk=16aacbac20af68...
  5969  https://www.indeed.fr/rc/clk?jk=e89dfdd3d21ace...
  5970  https://www.indeed.fr/rc/clk?jk=ad70439a2db529...
  5971  https://www.indeed.fr/company/Askovet/jobs/Cha...
  5972  https://www.indeed.fr/rc/clk?jk=d3ad05b44c57cd...
  5973  https://www.indeed.fr/rc/clk?jk=1f64c411b1e3d4...
  5974  https://www.indeed.fr/rc/clk?jk=9ad024804a4086...
  5975  https://www.indeed.fr/rc/clk?jk=d96008b25bc3bb...
  5976  https://www.indeed.fr/rc/clk?jk=3e98bff75ccc54...
  5977  https://www.indeed.fr/company/DeciVision/jobs/...
  5978  https://www.indeed.fr/rc/clk?jk=2c64ef6e5b487d...
  5979  https://www.indeed.fr/rc/clk?jk=8746b494e1255d...
  ...                                                 ...
  6123  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6124  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6125  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6126  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6127  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6128  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6129  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6130  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6131  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6132  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6133  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6134  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6135  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6136  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6137  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6138  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6139  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6140  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6141  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6142  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6143  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6144  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6145  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6146  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6147  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6148  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6149  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6150  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6151  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...
  6152  https://www.indeed.fr/pagead/clk?mo=r&ad=-6NYl...

                 Job_Category Location_Category
  5950  Business Intelligence          Bordeaux
  5951  Business Intelligence          Bordeaux
  5952  Business Intelligence          Bordeaux
  5953  Business Intelligence          Bordeaux
  5954  Business Intelligence          Bordeaux
  5955  Business Intelligence          Bordeaux
  5956  Business Intelligence          Bordeaux
  5957  Business Intelligence          Bordeaux
  5958  Business Intelligence          Bordeaux
  5959  Business Intelligence          Bordeaux
  5960  Business Intelligence          Bordeaux
  5961  Business Intelligence          Bordeaux
  5962  Business Intelligence          Bordeaux
  5963  Business Intelligence          Bordeaux
  5964  Business Intelligence          Bordeaux
  5965  Business Intelligence          Bordeaux
  5966  Business Intelligence          Bordeaux
  5967  Business Intelligence          Bordeaux
  5968  Business Intelligence          Bordeaux
  5969  Business Intelligence          Bordeaux
  5970  Business Intelligence          Bordeaux
  5971  Business Intelligence          Bordeaux
  5972  Business Intelligence          Bordeaux
  5973  Business Intelligence          Bordeaux
  5974  Business Intelligence          Bordeaux
  5975  Business Intelligence          Bordeaux
  5976  Business Intelligence          Bordeaux
  5977  Business Intelligence          Bordeaux
  5978  Business Intelligence          Bordeaux
  5979  Business Intelligence          Bordeaux
  ...                     ...               ...
  6123  Business Intelligence          Bordeaux
  6124  Business Intelligence          Bordeaux
  6125  Business Intelligence          Bordeaux
  6126  Business Intelligence          Bordeaux
  6127  Business Intelligence          Bordeaux
  6128  Business Intelligence          Bordeaux
  6129  Business Intelligence          Bordeaux
  6130  Business Intelligence          Bordeaux
  6131  Business Intelligence          Bordeaux
  6132  Business Intelligence          Bordeaux
  6133  Business Intelligence          Bordeaux
  6134  Business Intelligence          Bordeaux
  6135  Business Intelligence          Bordeaux
  6136  Business Intelligence          Bordeaux
  6137  Business Intelligence          Bordeaux
  6138  Business Intelligence          Bordeaux
  6139  Business Intelligence          Bordeaux
  6140  Business Intelligence          Bordeaux
  6141  Business Intelligence          Bordeaux
  6142  Business Intelligence          Bordeaux

In [10]:
# Transformation du dataframe en dictionnaire pour une meilleure exploration future
# posting est le dataframe regroupant les colonnes company et posting
def convert_df_to_dict(df):
    
    dict_job, city = city_job(df)
    
    for name_job_city,dataframe in dict_job.items():    
        
        posting = dataframe.iloc[0:,[1,3]]
  
    
    db = posting.set_index('Company').T.to_dict('dict')

    print('chargement de {} dans la db'.format(len(db.keys())))
    return db

In [11]:
from collections import defaultdict

'''Un `` RegexpTokenizer`` divise une chaîne en sous-chaînes en utilisant une expression régulière. 
Par exemple, le tokenizer suivant forme des jetons à partir de séquences alphabétiques, 
d'expressions monétaires et de toute autre séquence non-blanche:'''

tokenizer = nltk.RegexpTokenizer(r'\w+')

'''Elaboration d'une fonction pour extraire la fréquence des mots de chaque corpus par société'''

''' Initialiser les variables: 

corpora = defaultdict(list) => correspond au corpus. On lui affecte la fonction defaultdict()
stats, freq = dict(), dict() => stats: Correspond au nombre de mots // freq: à la fréquence des mots
corporabis = defaultdict(list) => D'autres variables sont intégrés pour distinguer les mots composés
statsbis, freqbis = dict(), dict()



'''

corpora = defaultdict(list)
stats, freq = dict(), dict()
corporabis = defaultdict(list)
statsbis, freqbis = dict(), dict()
    
def freq_stats_corpora(corpora, stats, freq, freqbis, statsbis, corporabis):
    
    db = convert_df_to_dict(df)
    
   
  

    # Création d'un corpus de tokens par company
    
    for company,posting in db.items():
        for posting in posting:
            tokens= tokenizer.tokenize(db[company]['Posting'])
            
            
           

            corpora[company] = tokens
    #Création d'un corpus pour les mots composés

            corporabis[company]= list(nltk.bigrams(tokens))
            

       
    # FreqDist() Fonction qui calcule la fréquence de mots
    # {'total': len(v)} calcule le nombre de mots dans le corpus. 

    for k, v in corpora.items():
        freq[k] = fq = dict(nltk.FreqDist(v))
        stats[k] = {'total': len(v)} 
        
    

    for k, v in corporabis.items():
        
        freqbis[k] = fq = dict(nltk.FreqDist(v))
        
        statsbis[k] = {'total': len(v)}
    
    return freq, stats, corpora, freqbis, statsbis, corporabis

In [12]:
## Nettoyage du corpus

from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords



sw = set()



def all_stop_words(sw):

    '''
    Pour cela, nous allons regrouper tous les mots vides c' est à dire les mots qui sont tellement communs qu'il est inutile 
    de l'indexer ou de l'utiliser dans notre recherche
    Création en dehors de la fonction d'un set vide
    '''
    
    corpora = defaultdict(list)
    stats, freq = dict(), dict()
    corporabis = defaultdict(list)
    statsbis, freqbis = dict(), dict()
    
    # On appelle la fonction freq_stats_corpora() 
    
    freq_stats_corpora(corpora, stats, freq, corporabis, statsbis, freqbis)

      


    # Premièrement, on récupère la fréquence totale de chaque mot sur tout le corpus 

    # On instancie la variable feq_totale en lui affectant la fonction Counter de la librairie nltk. 
    #  La variable freq_totale récupère la fréquence des mots sans prendre en considération la company

    freq_totale = nltk.Counter()

    for k, v in corpora.items():
        freq_totale += freq[k]


    # Deuxièmement on décide manière un peu arbitraire du nombre de mots les plus fréquents à supprimer. On pourrait afficher un graphe d'évolution du nombre de mots pour se rendre compte et avoir une meilleure heuristique. 
    most_freq = list(zip(*freq_totale.most_common(30)))[0]

    # Troisièmement, nous allons regrouper les mots vides. 
    
    #On créé notre set de stopwords final qui cumule ainsi les 50 mots les plus fréquents du corpus ainsi que l'ensemble de stopwords par défaut présent dans la librairie NLTK
    
    
    
    # Nous introduisons dans la variable stop_words les mots vides qui appartiennent à la librairie NLTK


    stop_words = set(stopwords.words("french"))
    
    # On ajoute les mots les plus fréquents et les stop_words dans le set

    sw.update(most_freq)
    sw.update(tuple(stop_words))

    return sw

In [13]:
from collections import defaultdict

''' On reprocède à la tokenisation en prenant en supprimant les mots vides'''

'''Un `` RegexpTokenizer`` divise une chaîne en sous-chaînes en utilisant une expression régulière. 
Par exemple, le tokenizer suivant forme des jetons à partir de séquences alphabétiques, 
d'expressions monétaires et de toute autre séquence non-blanche:'''

tokenizer = nltk.RegexpTokenizer(r'\w+')

'''Elaboration d'une fonction pour extraire la fréquence des mots de chaque corpus par société'''

''' Initialiser les variables: 

corpora = defaultdict(list) => correspond au corpus. On lui affecte la fonction defaultdict()
stats, freq = dict(), dict() => stats: Correspond au nombre de mots // freq: à la fréquence des mots
corporabis = defaultdict(list) => D'autres variables sont intégrés pour distinguer les mots composés
statsbis, freqbis = dict(), dict() '''


corpora2 = defaultdict(list)
corpora2bis = defaultdict(list)
stats2, freq2 = dict(), dict()
stats2bis, freq2bis = dict(), dict()# On instancie corpora


def freq_stats_corpora2(freq2, stats2, corpora2, freq2bis, stats2bis, corpora2bis):
    
    db = convert_df_to_dict(df)
    
 
    
    

    # Nous allons supprimer du corpus les mots vides. Pour cela, nous appelons la fonction all-stop_words que nous venons de créer.
    sw = set()
    all_stop_words(sw)
    
    # Création d'un corpus de tokens par company en supprimant les mots vides
    
    for company,posting in db.items():
        for post in posting:
            tokens2= tokenizer.tokenize(db[company]['Posting'])
            

           
                  
    
    # On supprime tous les mots vides
        
            for w in tokens2:
                if not w in sw:
                    w = w.lower()
                    corpora2[company].append(w)   
                    
    # On effectue la séparation en tuple pour obtenir des couple de mots
            
            
            
            for w in tokens2:
                if not w in sw:
                    w = w.lower()
                    corpora2bis[company].append(w)      
            


    # FreqDist() Fonction qui calcule la fréquence de mots
    # {'total': len(v)} calcule le nombre de mots dans le corpus. 

    for k2, v2 in corpora2.items():        
        freq2[k2] = fq = nltk.FreqDist(v2)
        stats2[k2] = {'total': len(v2)} 
   

    for k2, v2 in corpora2bis.items():
        v2 = list(nltk.bigrams(v2))
        freq2bis[k2] =  dict(nltk.FreqDist(v2))
        stats2bis[k2] = {'total': len(v2)} 
   

    # Récupération des comptages
    # On va introduire dans une fonction, la fréquence, les stats et le corpus
  
    return freq2, stats2, corpora2, freq2bis, stats2bis, corpora2bis

# Recherche des termes

In [14]:
# Liste des termes à rechercher


languages = ['python', 'r', 'sql', 'java', 'c++', 'c#', 'scala', 'perl', 'julia', 
             'javascript', 'html', 'css', 'php', 'ruby', 'matlab', 'sas'] 

big_data = ['big table', 'hadoop', 'mapreduce', 'hive', 'pig', 'cascading', 'scalding', 'cascalog', 'hbase', 'Sqoop', 
            'mahout', 'oozie', 'flume', 'zooKeeper', 'spark', 'storm', 'shark', 'impala', 'elasticsearch', 
            'kafka', 'flink', 'kinesis', 'presto', 'hume', 'airflow', 'azkabhan', 'luigi', 'cassandra']

dl = ['tensorFlow', 'keras', 'pyTorch', 'theano', 'deeplearning4J', 'caffe', 'tflearn', 'torch', 
      'openCV', 'mxnet', 'microsoft cognitive toolkit', 'lasagne']

cloud = ['aws', 'gcp', 'azure']

ml = ['natural language processing', 'computer vision', 'speech recognition', 'fraud detection',
      'recommender system', 'image recognition', 'object dectection', 'chatbot',  'sentiment analysis']

visualization = ['dimple', 'd3.js', 'ggplot', 'shiny', 'plotly', 'matplotlib', 'seaborn', 
                'bokeh', 'tableau']

other = ['pandas', 'numpy', 'scipy', 'sklearn', 'scikit-Learn', 'docker', 'git', 'jira', 'kaggle']

dict_to_check = {'Programming Languages': languages,
                 'Big Data Technologies': big_data,
                 'Deep Learning Frameworks': dl,
                 'Cloud Computing Platforms': cloud,
                 'Machine Learning Application': ml,
                 'Visualization Tools': visualization,
                 'Other': other}

In [15]:
#Recherche de mots simples

'''On introduit une liste de mots à rechercher. La liste est composée de string'''

languages = ['python', 'r', 'sql', 'java', 'c++', 'c#', 'scala', 'perl', 'julia', 
             'javascript', 'html', 'css', 'php', 'ruby', 'matlab', 'sas'] 






def search_word(word_list): 

    freq_stats_corpora2(freq2, stats2, corpora2, freq2bis, stats2bis, corpora2bis) 
    
    
    liste_search = []
  


    for word in word_list:
        dico_search = {}
                 



        for company, frequency in freq2.items():


            for k, v in frequency.items():   


                if (k==word):                 

                    dico_search.update({company: (word,v)})                 
                    
                        
                    
           
        
            
        dataf = pd.DataFrame.from_dict(dico_search, orient='index', dtype=None, columns = (word+'1', word))
        
        dataf.index.names=['Company']

        liste_search.append(dataf)

                    
    return liste_search

In [16]:
#Recherche de mots composés. 

''' De même on introduit une liste de mots à rechercher'''





languages = ['python', 'r', 'sql', 'java', 'c++', 'c#', 'scala', 'perl', 'julia', 
             'javascript', 'html', 'css', 'php', 'ruby', 'matlab', 'sas'] 






def search_composite_word(word_list): 
    
   
   
    freq_stats_corpora2(freq2, stats2, corpora2, freq2bis, stats2bis, corpora2bis)
    
    
    liste_search = []
  


    for word in word_list:
        dico_search = {}
                 



        for company, frequency in freq2bis.items():


            for k,v in frequency.items():   


                if (k==word) or (k==word.upper()) or (k==word.lower()):                 

                    dico_search.update({company: (word,v)}) 
                    
                    
                        
                    
           # all_liste.update(list_search)
            
        dataf = pd.DataFrame.from_dict(dico_search, orient='index', dtype=None, columns = (word, 'fréquence'))
        
        dataf.index.names=['Company']

        liste_search.append(dataf)

                    
    return liste_search

In [17]:


#On crée la fonction permettant de traiter le mots simples et les mots composés qui sont dans une même liste

languages = ['python', 'r', 'sql', 'java', 'c++', 'c#', 'scala', 'perl', 'julia', 
             'javascript', 'html', 'css', 'php', 'ruby', 'matlab', 'sas'] 


def word_type(word_list): 

 
    for word in word_list:     

        if word == tuple:

            return search_composite_word(word_list)
            
          


        else:

            return search_word(word_list)

In [18]:
#Merge des datasets"


languages = ['python', 'r', 'sql', 'java', 'c++', 'c#', 'scala', 'perl', 'julia', 
             'javascript', 'html', 'css', 'php', 'ruby', 'matlab', 'sas'] 

    
def my_merge(word_list):
    
    
    for word in word_list:     

        if word == tuple:

            dataframe = search_composite_word(word_list)


        else:

            dataframe = search_word(word_list)

    
    
      
    
    res = pd.merge(dataframe[0], dataframe[1], how="outer", left_index= False, right_index= False, on = 'Company')

    for i in range(2, len(word_list)): 

         res = pd.merge(res, dataframe[i], how="outer", left_index= False, right_index= False, on = 'Company')
            
    
    return res

In [19]:
#On supprime les colonnes inutiles du dataset 

def drop_theme(df_theme):

    df_theme_cols = df_theme.columns


    df_theme_1 = df_theme_cols[df_theme_cols.str.contains('1')]


    for element in df_theme_cols: 
        if element in df_theme_1:
            df_theme_cols = df_theme_cols.drop(labels = [element])
    
    df_theme = df_theme[df_theme_cols]
            

    return df_theme

In [20]:
languages = ['python', 'r', 'sql', 'java', 'c++', 'c#', 'scala', 'perl', 'julia', 
     'javascript', 'html', 'css', 'php', 'ruby', 'matlab', 'sas'] 

big_data = ['big table', 'hadoop', 'mapreduce', 'hive', 'pig', 'cascading', 'scalding', 'cascalog', 'hbase', 'Sqoop', 
        'mahout', 'oozie', 'flume', 'zooKeeper', 'spark', 'storm', 'shark', 'impala', 'elasticsearch', 
        'kafka', 'flink', 'kinesis', 'presto', 'hume', 'airflow', 'azkabhan', 'luigi', 'cassandra']

dl = ['tensorFlow', 'keras', 'pyTorch', 'theano', 'deeplearning4J', 'caffe', 'tflearn', 'torch', 
  'openCV', 'mxnet', 'microsoft cognitive toolkit', 'lasagne']

cloud = ['aws', 'gcp', 'azure']

ml = ['natural language processing', 'computer vision', 'speech recognition', 'fraud detection',
  'recommender system', 'image recognition', 'object dectection', 'chatbot',  'sentiment analysis']

visualization = ['dimple', 'd3.js', 'ggplot', 'shiny', 'plotly', 'matplotlib', 'seaborn', 
            'bokeh', 'tableau']

other = ['pandas', 'numpy', 'scipy', 'sklearn', 'scikit-Learn', 'docker', 'git', 'jira', 'kaggle']

dict_to_check = {'Programming Languages': languages,
             'Big Data Technologies': big_data,
             'Deep Learning Frameworks': dl,
             'Cloud Computing Platforms': cloud,
             'Machine Learning Application': ml,
             'Visualization Tools': visualization,
             'Other': other}

In [21]:
def word_city_job():
    dict_job, city = city_job(df) 
    for name_job_city,dataframe  in dict_job.items(): 

        db = convert_df_to_dict(df)

        '''Un `` RegexpTokenizer`` divise une chaîne en sous-chaînes en utilisant une expression régulière. 
        Par exemple, le tokenizer suivant forme des jetons à partir de séquences alphabétiques, 
        d'expressions monétaires et de toute autre séquence non-blanche:'''

        tokenizer = nltk.RegexpTokenizer(r'\w+')

        '''Elaboration d'une fonction pour extraire la fréquence des mots de chaque corpus par société'''

        ''' Initialiser les variables: 

        corpora = defaultdict(list) => correspond au corpus. On lui affecte la fonction defaultdict()
        stats, freq = dict(), dict() => stats: Correspond au nombre de mots // freq: à la fréquence des mots
        corporabis = defaultdict(list) => D'autres variables sont intégrés pour distinguer les mots composés
        statsbis, freqbis = dict(), dict()



        '''
        corpora = defaultdict(list)
        stats, freq = dict(), dict()
        corporabis = defaultdict(list)
        statsbis, freqbis = dict(), dict()

        corpora, stats, freq, freqbis, statsbis, corporabis = freq_stats_corpora(corpora, stats, freq, freqbis, statsbis, corporabis)
        sw = set()
        sw = all_stop_words(sw)

        tokenizer = nltk.RegexpTokenizer(r'\w+')

        '''Elaboration d'une fonction pour extraire la fréquence des mots de chaque corpus par société'''

        ''' Initialiser les variables: 

        corpora = defaultdict(list) => correspond au corpus. On lui affecte la fonction defaultdict()
        stats, freq = dict(), dict() => stats: Correspond au nombre de mots // freq: à la fréquence des mots
        corporabis = defaultdict(list) => D'autres variables sont intégrés pour distinguer les mots composés
        statsbis, freqbis = dict(), dict() '''


        corpora2 = defaultdict(list)
        corpora2bis = defaultdict(list)
        stats2, freq2 = dict(), dict()
        stats2bis, freq2bis = dict(), dict()# On instancie corpora


        freq2, stats2, corpora2, freq2bis, stats2bis, corpora2bis = freq_stats_corpora2(freq2, stats2, corpora2, freq2bis, stats2bis, corpora2bis)

        # Liste des termes à rechercher



        languages = ['python', 'r', 'sql', 'java', 'c++', 'c#', 'scala', 'perl', 'julia', 
         'javascript', 'html', 'css', 'php', 'ruby', 'matlab', 'sas'] 

        big_data = ['big table', 'hadoop', 'mapreduce', 'hive', 'pig', 'cascading', 'scalding', 'cascalog', 'hbase', 'Sqoop', 
                'mahout', 'oozie', 'flume', 'zooKeeper', 'spark', 'storm', 'shark', 'impala', 'elasticsearch', 
                'kafka', 'flink', 'kinesis', 'presto', 'hume', 'airflow', 'azkabhan', 'luigi', 'cassandra']

        dl = ['tensorFlow', 'keras', 'pyTorch', 'theano', 'deeplearning4J', 'caffe', 'tflearn', 'torch', 
          'openCV', 'mxnet', 'microsoft cognitive toolkit', 'lasagne']

        cloud = ['aws', 'gcp', 'azure']

        ml = ['natural language processing', 'computer vision', 'speech recognition', 'fraud detection',
          'recommender system', 'image recognition', 'object dectection', 'chatbot',  'sentiment analysis']

        visualization = ['dimple', 'd3.js', 'ggplot', 'shiny', 'plotly', 'matplotlib', 'seaborn', 
                    'bokeh', 'tableau']

        other = ['pandas', 'numpy', 'scipy', 'sklearn', 'scikit-Learn', 'docker', 'git', 'jira', 'kaggle']

        dict_to_check = {'Programming Languages': languages,
                     'Big Data Technologies': big_data,
                     'Deep Learning Frameworks': dl,
                     'Cloud Computing Platforms': cloud,
                     'Machine Learning Application': ml,
                     'Visualization Tools': visualization,
                     'Other': other}



        #dtheme = [df_languages', 'df_bigdata', 'df_dl', 'df_cloud', 'df_ml', 'df_visualisation', 'df_other']


        #for i, (k,word_list) in enumerate(dict_to_check.items()) :

        #word_type(word_list)        
        #dtheme[i] = my_merge(word_list)

        #drop_theme(dtheme)


        for k,word_list in dict_to_check.items() :

                
            dtheme = my_merge(word_list)

            dtheme = drop_theme(dtheme)
        

            #On crée le fichier csv 
            print('chargement du fichier csv ' + name_job_city + k )
            dtheme.to_csv (name_job_city + k + '.csv')

            
    return 


word_city_job()

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Business IntelligenceProgramming Languages
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Business IntelligenceBig Data Technologies
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Business IntelligenceDeep Learning Frameworks
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Business IntelligenceCloud Computing Platforms
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Business IntelligenceMachine Learning Application
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Business IntelligenceVisualization Tools
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Business IntelligenceOther
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data AnalystProgramming Languages
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data AnalystBig Data Technologies
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data AnalystDeep Learning Frameworks
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data AnalystCloud Computing Platforms
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data AnalystMachine Learning Application
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data AnalystVisualization Tools
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data AnalystOther
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data ScientistProgramming Languages
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data ScientistBig Data Technologies
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data ScientistDeep Learning Frameworks
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data ScientistCloud Computing Platforms
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data ScientistMachine Learning Application
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data ScientistVisualization Tools
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_Data ScientistOther
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_DeveloppeurProgramming Languages
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_DeveloppeurBig Data Technologies
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_DeveloppeurDeep Learning Frameworks
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_DeveloppeurCloud Computing Platforms
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db
chargement du fichier csv Bordeaux_DeveloppeurMachine Learning Application
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  if sys.path[0] == '':

chargement de 378 dans la db
chargement de 378 dans la db

KeyboardInterrupt:

cleaner_city_job_skills(df)